<!DOCTYPE html>
<html>

<head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    <title>NodeJS Test Application</title>
</head>

<body>
    <h1>Person: <%= ID %></h1>
    <h1>Length: <%= ID.length%></h1>
</body>

</html>
